

body{
    background-color: #1d1d1d;
    background-image: radial-gradient(circle farthest-corner at 100% 100%, rgba(122, 167, 255, 0.32), transparent 44%), radial-gradient(circle farthest-corner at 0% 100%, rgba(255, 1, 1, 0.15), transparent 32%);
    
    }
    .col {
        padding: 4em;
        background-color: #FFFF;
        border-radius: 8px;
    }
    h1,.lead{
    padding: 0.5em;
    
    
    }
   
     img {
            
        width: 190px;
        height: 31px;
        object-fit: contain;
    
    
    }
    #f1